/*

design body

*/

 .left-div{
    width:30% ;
 float: left;
}
.right-div{
    width: 70%;
    float: left;

}
body{
    
     font-family:normal;
     background-color: #80ced6; 
}
p{
	color: black;
	font-size:15px; 
}
h2{
  color: blue;
  font:50px;
  background-color: #F4F9FA;
  text-align: center; 
}